@model IEnumerable<WebApplication.Models.BuyProduct>
@section Styles {
    <link href="~/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables-responsive/css/responsive.bootstrap4.css" rel="stylesheet">
}
<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="card-title align-self-center">
                @Resources.BuyProduct.Title
            </div>
            <div>
                <a href="@Url.Action("Create", "BuyProduct")" class="btn btn-min btn-primary">
                    <i class="fa fa-plus-circle"></i>
                    @Resources.Buttons.Create
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover table-sm data-table nowrap" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@Resources.Globle.No</th>
                            <th>@Resources.BuyProduct.Date</th>
                            <th>@Resources.BuyProduct.InvoiceNo</th>
                            <th>@Resources.BuyProduct.Supplier</th>
                            <th>@Resources.BuyProduct.Total</th>
                            <th>@Resources.BuyProduct.AmtDis</th>
                            <th>@Resources.BuyProduct.GrandTotal</th>
                            <th>@Resources.BuyProduct.AmtPay</th>
                            <th>@Resources.BuyProduct.AmtLoan</th>
                            <th>@Resources.BuyProduct.Username</th>
                            @*<th>@Resources.BuyProduct.Description</th>*@
                            <th>@Resources.Globle.Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/assets/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/assets/plugins/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="~/assets/plugins/datatables-responsive/js/responsive.bootstrap4.js"></script>
    <script src="~/assets/plugins/moment/moment.min.js"></script>
    <script type="text/javascript">
        var sidebarCollapse = $('#sidebarCollapse');
        $(function () {
            //sidebarCollapse.addClass("sidebar-collapse");
            $(document).on('click', '.btnDetail', function () {
                var id = $(this).data('id');
                window.location.href = '@Url.Action("BuyDetail", "BuyProduct")?slug=' + id;
            });
            $(document).on('click', '.btnTranferToModify', function () {
                var _this = $(this);
                var id = _this.data('id');
                _this.prop('disabled', true);
                _this.find('span').removeClass('d-none');
                var data = {};
                data.BuyID = id;
                $.ajax({
                    url: "@Url.Action("TransferToModify", "BuyProduct")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    dataType: "json",
                    processData: false,
                    success: function (res) {
                        if (res.status == 'True') {
                            window.location.href = '@Url.Action("Edit", "BuyProduct")?slug=' + id;
                        } else {
                            _this.prop('disabled', false);
                            _this.find('span').addClass('d-none');
                        }
                    },
                    error: function (message) {
                        _this.prop('disabled', false);
                        _this.find('span').addClass('d-none');
                        console.log(message);
                    }
                });
            });
            var dataTable = $('.data-table')
                .DataTable({
                    sAjaxSource: '@Url.Action("GetData", "BuyProduct")',
                    order: [[2, 'desc']],
                    bServerSide: true,
                    pageLength: 25,
                    bProcessing: true,
                    bSearchable: true,
                    scrollX: true,
                    columns: [
                        {
                            data: null, sortable: false,
                            render: function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        { data: "Date", autoWidth: true, searchable: true },
                        { data: "InvoiceNo", searchable: true, sortable: false },
                        { data: "CompanyName", sortable: false },
                        { data: "Total", sortable: false, render: $.fn.dataTable.render.number(',', '.', 2, '$') },
                        //{ data: "PerDis", sortable: false },
                        { data: "AmtDis", sortable: false, render: $.fn.dataTable.render.number(',', '.', 2, '$') },
                        { data: "GrandTotal", sortable: false, render: $.fn.dataTable.render.number(',', '.', 2, '$') },
                        { data: "AmtPay", sortable: false, render: $.fn.dataTable.render.number(',', '.', 2, '$') },
                        { data: "AmtLoan", sortable: false, render: $.fn.dataTable.render.number(',', '.', 2, '$') },
                        { data: "Username", sortable: false },
                        //{ data: "Description", sortable: false },
                        {
                            data: "BuyID",
                            sortable: false,
                            render: function (data, type, full, meta) {
                                var actions = '<button type="button" data-id="' + data + '" class="btn btnTranferToModify btn-sm btn-primary mx-1"><span class="spinner-border spinner-border-sm d-none mr-2" role="status" aria-hidden="true"></span>Edit</a>';
                                    actions += '<button type="button" data-id="' + data + '" class="btn btnDetail btn-sm btn-primary mx-1">Detail</a>';
                                return actions;
                            }
                        }
                    ],
                    columnDefs: [
                        {
                            targets: [1],
                            render: function (data, type, row, meta) {
                                return moment(data).format('YYYY-MM-DD hh:mm a');
                            }
                        }
                    ],
                });
            });
    </script>
}
