@model WebApplication.Models.tbl_prdcategory
@using (Html.BeginForm("Create", "Category", FormMethod.Post))
{
    <div class="modal fade" id="modal-form">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="modal-title" class="modal-title">
                        @Resources.Globle.Create
                    </h5>
                    <div class="float-right">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.HiddenFor(model => model.PrdCategID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.Label(@Resources.Category.CategoryName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.PrdCategory, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = Resources.Category.CategoryName } })
                            @Html.ValidationMessageFor(model => model.PrdCategory, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="form-group">
                            @Html.Label(@Resources.Category.GroupMain, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("PrdCategIDMain", null, "--Main--", htmlAttributes: new { @class = "form-control select2bs4" })
                            @Html.ValidationMessageFor(model => model.PrdCategIDMain, "", new { @class = "text-danger" })
                        </div>*@
                        <div class="form-group">
                            @Html.Label(@Resources.Category.CategoryOrder, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CategoryOrder, new { htmlAttributes = new { @class = "form-control", @min = 0, @placeholder = Resources.Category.CategoryOrder } })
                            @Html.ValidationMessageFor(model => model.CategoryOrder, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-min mr-2" data-dismiss="modal">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                        @Resources.Globle.Cancel
                    </button>
                    <button type="submit" id="btnSaveOrUpdate" class="btn btn-success btn-min">
                        <i class="far fa-check-circle"></i>
                        @Resources.Globle.Save
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
}
